<div class="container">

    <div class="row">

        <div class="col-md">

            <div class="abtMe-Wrap mt-4 pt-2">

                <h5 class="content-heading"><b>{{ '{Avinash Parmar}' }}</b></h5>

                <p class="content-text">I'm a frontend developer</p>

                <div class="row">

                    <div class="col-md-4">

                        <div class="abtMe-content-wrp p-3">

                            <h6 class="content-heading"><b>About Me</b></h6>

                            <p class="content-text">I am an front-end developer. I work with, organizations to build digital products that help clients overcome challenges and create lasting. I love structure and order and I also stand for quality. I love spending time on fixing
                                little details and optimizing web apps. Also I like working in a team, you'll learn faster and much more. As the saying goes: 'two heads are better than one'.</p>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="myImg">
                            <img src="\assets\img\user.jpeg" class="img-responsive rounded">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Details</b></h6>
                            <h6 class="content-heading"><b>Name:</b></h6>
                            <p class="content-text">Avinash Parmar</p>

                            <h6 class="content-heading"><b>Age:</b></h6>
                            <p class="content-text">24</p>

                            <h6 class="content-heading"><b>Location:</b></h6>
                            <p class="content-text">Pune, India.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <hr>
                <h5 class="content-heading"><b>Educations</b></h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Yashwantrao Chavan Science College, Karad</b></h6>
                            <p class="content-text">Mar 2010 - May 2014</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>BSc Computer Science</b></h6>
                            <p class="content-text">Percentage: 60 %</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Government College of Engineering, Karad</b></h6>
                            <p class="content-text">Mar 2014 - May 2017</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Master of Computer Applications</b></h6>
                            <p class="content-text">Percentage: 58 %</p>
                        </div>
                    </div>
                </div>

                <hr>
                <hr>
                <h5 class="content-heading"><b>Careers</b></h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Persistent Systems Limited</b></h6>
                            <p class="content-text">Nov 2017 - Present</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Software Engineer</b></h6>
                            <p class="content-text">I have worked on Persistent System’s multiple intranet site’s (PI, CTO Storefront, Text Storefront, One Persistent Portal, Policy & Manuals, Daily Mirror-Remedy Dashboard, Customer Hub etc), which were developed in SharePoint</p>
                        </div>
                    </div>
                </div>

                <hr>
                <hr>
                <h5 class="content-heading"><b>Skills</b></h5>
                <div class="row">
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>HTML</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>CSS</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>JavaScript/ES5/ES6</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>jQuery</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Angular 2+</b></h6>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Bootstrap3/4</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>SharePoint 2013/ SharePoint Online</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Rest API</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Object Orientated Programming</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>JSON</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Power BI</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <hr>
                <h5 class="content-heading"><b>Tools</b></h5>
                <div class="row">
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>SharePoint Designer</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Brackets</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Notepad++</b></h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <h6 class="content-heading"><b>Visual Studio Code</b></h6>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="abtMe-content-wrp p-3">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>