<!doctype html>
<html lang="en">

<head>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="customNav">
        <a class="navbar-brand" href="#" routerLink="/"><b>{{ '{Avinash Parmar}' }}</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" routerLink="madewithangular"><strong>Made</strong> With <strong>Angular</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="mywork"><strong>My Work</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="about"><strong>About</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="contact"><strong>Contact</strong></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">
        <router-outlet></router-outlet>
    </div>
</body>

</html>