<div class="container mt-3">

    <div class="row">

        <div class="col-md-6">

            <div class="myWork-content-wrap p-3">

                <!-- <div class="content-img-wrap">
                                <img src="https://lh3.googleusercontent.com/Uzu5MJsww2UTAwTx63BgJwdeUcu-4Sr_pfTal334krFvhb8lZhkcuuKVOFSqlruvvaM=s180-rw" class="img-responsive">
                            </div> -->

                <div class="content-desc-wrap">

                    <h5 class="content-heading">To Do List</h5>

                    <p class="content-text" id="todolistDesc">
                        <b> Why Different from other to-do list applications ?</b>                             </p>

                    <ul class="content-text">

                        <li>-Your ultimate daily planner.</li>

                        <li>-Easy to use interface.</li>

                        <li>-100 % Free to download.</li>

                        <li>-Helps you boost your productivity.</li>

                        <li>-Keeps your task organized.</li>

                        <li>-Simple beautiful to do list manager.</li>
                    </ul>

                    <p class="content-text"><b>8k+ Downloads</b></p>

                    <p class="content-text"><a href="https://play.google.com/store/apps/details?id=com.ionicframework.to_dolist&hl=en" target="_blank">Download </a><small> Android</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="myWork-content-wrap p-3">

                <!-- <div class="content-img-wrap">
                                <img src="https://lh3.googleusercontent.com/eJnPxmHOOfQ4AM_wIXBnznmQPRc-QD0JnB5xUCdC9Q0G86YCGbLoHzJyx2Jhsvrnz-Q=s180-rw" class="img-responsive">
                            </div> -->

                <div class="content-desc-wrap">

                    <h5 class="content-heading">MCQ Stack</h5>

                    <p class="content-text">
                        <b>Why Better Than Other Apps ?</b><br> MCQ STACK contain wide range of mcq questions related to programming, computer science programming MCQ, programming MCQ, data structure etc.We have largest set of multiple choice question
                        library on the web. We offer frequently asked interview and exam question across wide range of programming languages including web development languages, frameworks, scripting languages, databases , programming languages etc.</p>

                    <p class="content-text"><b>500+ Downloads</b></p>

                    <p class="content-text"><a href="https://play.google.com/store/apps/details?id=com.ionicframework.test996993&hl=en" target="_blank">Download</a> <small> Android</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-md-6">

            <div class="myWork-content-wrap p-3">

                <div class="content-img-wrap-upcoming">
                    <img src="\assets\img\flat-thinking-concept_23-2148163823.jpg" class="img-responsive">                             </div>

                <p class="content-text"><b>I'm thinking about it..</b><small>App will come soon</small></p>
            </div>
        </div>
    </div>
</div>