<div class="detail-wrapper">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 col-md-6">

                <div class="left-Widget pt-4">
                    <img src="\assets\img\user.jpeg" class="img-responsive rounded">         </div>
            </div>

            <div class="col-sm-12 col-md-6 right-Widget-Wrap">

                <div class="right-Widget">

                    <h5 class="content-heading">hello</h5>

                    <h5 class="content-heading">I'm Avinash Parmar</h5>

                    <h5 class="content-heading">a self taught developer</h5>

                    <h5 class="content-heading">I'm Software Engineer @Persistent Systems, Pune</h5>

                    <p class="content-text">* An engineer who has the technical knowhow and edge to create production code and: Participate in the design process: Discover, Ideate, Design &amp; Define - Leads the UI development efforts across all web applications, ensuring best
                        practices are followed at all times. I am insprired by creating great work with people who are passionate as i am about building something awesome. </p>

                    <!--   <div class="row">

                        <div class="col-md-6">

                            <h6>HTML</h6>

                            <div class="progress">

                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:89%"></div>
                            </div>

                            <hr>               </div>

                        <div class="col-md-6">

                            <h6>CSS</h6>

                            <div class="progress">

                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:82%"></div>
                            </div>

                            <hr>                 </div>
                    </div> -->

                    <!--   <div class="row">

                        <div class="col-md-6">

                            <h6>JavaScript/ES5/ES6</h6>

                            <div class="progress">

                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:70%"></div>
                            </div>

                            <hr>                 </div>

                        <div class="col-md-6">

                            <h6>jQuery</h6>

                            <div class="progress">

                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:75%"></div>
                            </div>

                            <hr>                   </div>
                    </div> -->

                    <!-- <div class="row">

                        <div class="col-md-6">

                            <h6>Angular 2+</h6>

                            <div class="progress">

                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%"></div>
                            </div>

                            <hr>                 </div>

                        <div class="col-md-6">

                            <h6>Bootstrap3/Bootstrap 4</h6>

                            <div class="progress">

                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%"></div>
                            </div>

                            <hr>                   </div>
                    </div> -->

                    <!-- <div class="row">

                        <div class="col-md-6">

                            <h6>SharePoint Online/SharePoint 2013</h6>

                            <div class="progress">

                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%"></div>
                            </div>

                            <hr>                 </div>
                    </div> -->
                </div>
            </div>
        </div>









        <div class="row">
            <div class="col-sm-12 col-md-6 right-Widget-Wrap">
                <div class="right-Widget">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="content-heading">A part from work</h5>
                            <p class="content-text">"I love to travel for a few reasons. First, you automatically become a naturally curious being. You are a traveler, tourist, backpacker, etc and even the most basic thing on a trip becomes an adventure - like catching a bus
                                between cities. Second, you are hyper aware of your surroundings and appreciate the beauty or intrigue of a new land and culture! Third, when I travel and then return home, I see home in a whole new light."</p>

                            <p class="content-text">
                                "Traveling reminds me that my life isn't the only one I could live and that in the grand scheme of things, I'm pretty unimportant to this world we live in. People get so caught up in their daily lives and forget that they can be somewhere or someone else
                                tomorrow if they'd like. There are no limits in the grand scheme of things except the ones we create for ourselves. Traveling helps make sure I don't forget that."
                            </p>
                        </div>

                    </div>






                </div>
            </div>


            <div class="col-sm-12 col-md-6">

                <div class="left-Widget pt-4">
                    <img src="\assets\img\FB_IMG_1567533638680.jpg" class="img-responsive rounded">         </div>
            </div>


        </div>







    </div>
</div>